body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
  }
  
  header {
    background: #020617;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
  }

#smoltitle{
    margin-top: 0;
} 

.title {
    display: flex;
    flex-direction: column;
  }


  #cartBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  
    padding: 10px 15px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #productGrid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
  }
  
  .product {
    background: #020617;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #2563eb;
  }
  
  .product img {
    width: 100%;
    border-radius: 8px;
  }
  
  .hidden {
    display: none;
  }
  
  .product-detail {
    display: flex;
    gap: 40px;
    padding: 40px;
    animation: fadeIn 0.5s;
  }
  
  .product-detail img {
    width: 350px;
    border-radius: 12px;
  }
  
  button {
    background: #2563eb;
    border: none;
    padding: 12px 18px;
    margin-top: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .pay {
    background: #22c55e;
  }
  
  .back {
    margin: 20px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; }
  }
  